<h2>Afisare grupuri</h2>
<br />

<h3 class="alert-primary">@ViewBag.Msg</h3>


<div class="d-flex justify-content-center">

    <a class="btn btn-primary" href="/Groups/New/">Adauga grup</a>

</div>

<br />
<br />


@if(ViewBag.YourGroups != null)
{
    <h4>Create de tine</h4>
    <br />

    @foreach (Proiect.Models.Group group in ViewBag.YourGroups)
    {
        <div class="card">

            @Html.Partial("GroupInfo", group)

            <div class="card-body d-flex justify-content-center">

                <a href="/Groups/Show/@group.Id" class="btn btn-outline-primary">Afisare grup</a>

            </div>

        </div>

        <br />
        <br />
    }

    <br />
    <br />
}


@if(ViewBag.Groups != null)
{
    <h4>Grupuri in care esti membru</h4>
    <br />

    @foreach (Proiect.Models.Group group in ViewBag.Groups)
    {
        <div class="card">

            @Html.Partial("GroupInfo", group)

            <div class="card-body d-flex justify-content-center">

                <a href="/Groups/Show/@group.Id" class="btn btn-outline-primary">Afisare grup</a>

            </div>

        </div>

        <br />
        <br />
    }
}

