@model Proiect.Models.Group

<h3 class="alert-primary">@ViewBag.Msg</h3>


<div class="d-flex justify-content-center">

    <a class="btn btn-primary" href="/Groups/New/">Adauga grup</a>

</div>

<br />


<div class="card">

    @Html.Partial("GroupInfo", Model)

    <div class="card-body d-flex justify-content-evenly">

        @if(ViewBag.EsteMembru || ViewBag.UserCurent == Model.UserId)
        {        
            <a class="btn btn-primary" href="/Posts/New/@Model.Id">Adauga postare in grup</a>
        }
        else
        {
            <a class="btn btn-primary" href="/Groups/JoinGroup/@Model.Id">Intra in grup</a>
        }


        @if(ViewBag.AfisareButoane || ViewBag.UserCurent == Model.UserId)
        {
            <a class="btn btn-primary" href="/Groups/Edit/@Model.Id">Editeaza grupul</a>

            <form method="post" action="/Groups/Delete/@Model.Id">

                <button class="btn btn-outline-danger" type="submit">Sterge grupul</button>

            </form>
        }
       
    </div>

</div>

<br />
<br />




@* Afisare membri grup *@

<h2 class="alert-primary">Membrii grupului</h2>

@foreach(var user in Model.Members){
    <div class="card">

        <div class="card-body">

            <a href="/ApplicationUsers/Show/@user.User.Id" class="alert-primary">@user.User.UserName</a>

        </div>

    </div>
    
}

<br />
<br />





@* Afisare postari *@

@foreach (var post in Model.Posts)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <div class="card">

                        @Html.Partial("PostInfo", post)

                        <div class="card-body d-flex justify-content-center">

                            <a href="/Posts/Show/@post.Id" class="btn btn-outline-primary">Afisare postare</a>

                        </div>

                    </div>
                        
        

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>

    <br />
    <br />
}