@model IEnumerable<Proiect.Models.Post>

<div class="d-flex justify-content-center">

    <a href="/Posts/New" class="btn btn-primary">Adauga postare</a>

</div>

<br />


<h2>Afisare postari</h2>
<br />


<form action="/Posts/Index">

    <div class="input-group">
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categ, "Value", "Text"), "Filtreaza dupa categorie", new { @class = "form-control" })
        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
    </div>

</form>

<br /> <br />

<h3 class="alert-primary">@ViewBag.Msg</h3>

<br />


@foreach(Proiect.Models.Post post in ViewBag.Posts)
{
     <div class="card">
         
        @Html.Partial("PostInfo", post)

        <div class="card-body d-flex justify-content-center">

            <a href="/Posts/Show/@post.Id" class="btn btn-outline-primary">Afisare postare</a>

        </div>

    </div>
    
    <br />
    <br />
    <br />  
    

}