@model IEnumerable<Proiect.Models.Notification>


<h1>Notificari</h1>
<br />

@foreach (var notif in ViewBag.Notifs)
{
    <div class="card">
        <div class="card-body d-flex justify-content-between">
            <div>
                <h4 class="card-title">@notif.Message</h4>

                <div><i class="bi bi-person-plus-fill"></i> @notif.FromUserName</div>

                @if (notif.Group != null)
                {
                    <div><i class="bi bi-menu-app-fill"></i> @notif.Group.GroupName</div>
                }
            </div>


            <div>
                <a href="/Notifications/Confirm/@notif.Id" class="btn btn-primary">Confirma</a>
                <a href="/Notifications/Decline/@notif.Id" class="btn btn-primary">Respinge</a>
            </div>
        </div>
    </div>

}
