<div class="card-body">

    <h4 class="card-title">@Model.GroupName</h4>
    <span>Creat de <a href="/ApplicationUsers/Show/@Model.User.Id"> <i class="bi bi-person-video"></i> @Model.User.UserName</a> pe @Model.Date.ToString("dd/MM/yyyy")</span>

    @if (Model.Description != null)
    {
        <br /> <br />
        <div class="card-text">@Model.Description</div>

    }

</div>
